.Login {
  text-align: center;
  color: #fff;
  background-image: url("../../images/beaches.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
.Login form {
  margin: 0 auto;
  max-width: 320px;
}
